<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产品中心</title>
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/subpage.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/product.css" />
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<a href="{:url('index/index/index')}"><img src="__PUBLIC__/img/logo.jpg" alt="图片加载"/></a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="{:url('index/index/index')}">企业首页</a></li>
					<li><a href="{:url('index/about/index')}">关于我们</a></li>
					<li><a href="{:url('index/news/index')}">新闻中心</a></li>
					<li><a class="current" href="{:url('index/product/index')}">产品中心</a></li>
					<li><a href="{:url('index/contact/index')}">联系我们</a></li>
				</ul>
			</div>
		</div>
		<div class="sub_banner">
			<ul>
				<li>
					<a href="pro_details.html">
						<img src="__PUBLIC__/img/banner_03.jpg" alt="图片加载" />
					</a>
                </li>
			</ul>
		</div>
		<div class="content">
			<div class="content_main">
				<div class="location">
					<div class="title">
						<h2>产品中心</h2>
						<h3>PRODUCT</h3>
					</div>
					<ul>
						<li class="current">产品中心</li>
						<li><a href="index.html">首页</a>  ></li>
						<li>当前位置： </li>
					</ul>
				</div>
				<div class="main_bottom">
					<div class="sidebar">
						<div class="sid_title">
							<h2>产品中心</h2>
							<h3>Product</h3>
						</div>
						<ul>
							<li class="current"><a href="#">·<span>智能安保</span>></a></li>
							<li><a href="#">·<span>智能传感</span>></a></li>
							<li><a href="#">·<span>智能控制</span>></a></li>
							<li><a href="#">·<span>智能园艺</span>></a></li>
						</ul>
					</div>
					<div class="pro_main">
						<ul class="pro_list">
							<li>
								<a href="pro_details.html">
									<img src="__PUBLIC__/img/produc_thumb_01.jpg" alt="图片加载"/>
								</a>
								<div class="title">
									<h2><a href="pro_details.html">网关摄像机02型（720P）</a></h2>
									<h3><a href="pro_details.html">WL-ZAVMDPB-C411121-02</a></h3>
								</div>
							</li>
							<li>
								<a href="pro_details.html">
									<img src="__PUBLIC__/img/produc_thumb_02.jpg" alt="图片加载"/>
								</a>
								<div class="title">
									<h2><a href="pro_details.html">Wulian 6W灯泡系列</a></h2>
									<h3><a href="pro_details.html">WL-ZLACNPW-B1100613-01</a></h3>
								</div>
							</li>
							<li>
								<a href="pro_details.html">
									<img src="__PUBLIC__/img/produc_thumb_02.jpg" alt="图片加载"/>
								</a>
								<div class="title">
									<h2><a href="pro_details.html">物联传感门、窗磁探测器</a></h2>
									<h3><a href="pro_details.html">WG-ZSPDBPW-MT-01</a></h3>
								</div>
							</li>
							<li>
								<a href="pro_details.html">
									<img src="__PUBLIC__/img/produc_thumb_01.jpg" alt="图片加载"/>
								</a>
								<div class="title">
									<h2><a href="pro_details.html">网关摄像机02型（720P）</a></h2>
									<h3><a href="pro_details.html">WL-ZAVMDPB-C411121-02</a></h3>
								</div>
							</li>
							<li>
								<a href="pro_details.html">
									<img src="__PUBLIC__/img/produc_thumb_02.jpg" alt="图片加载"/>
								</a>
								<div class="title">
									<h2><a href="pro_details.html">Wulian 6W灯泡系列</a></h2>
									<h3><a href="pro_details.html">WL-ZLACNPW-B1100613-01</a></h3>
								</div>
							</li>
							<li>
								<a href="pro_details.html">
									<img src="__PUBLIC__/img/produc_thumb_02.jpg" alt="图片加载"/>
								</a>
								<div class="title">
									<h2><a href="pro_details.html">物联传感门、窗磁探测器</a></h2>
									<h3><a href="pro_details.html">WG-ZSPDBPW-MT-01</a></h3>
								</div>
							</li>
						</ul>
						<ul class="page">
							<li><a href="#">首页</a></li>
							<li><a href="#">上一页</a></li>
							<li class="current"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">…</a></li>
							<li><a href="#">下一页</a></li>
							<li><a href="#">尾页</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="main">
				<div class="main_left">
					<ul>
						<li><a href="index.html">企业首页</a></li>
						<li><a href="about.html">关于我们</a></li>
						<li><a href="news.html">新闻中心</a></li>
						<li><a href="product.html">产品中心</a></li>
						<li><a class="unborder" href="contact.html">联系我们</a></li>
					</ul>
					<p class="footer_tel">400 928 9228</p>
					<span>support@wuliangroup.com</span>
					<p class="copyright">©Copyright 2002-2015 南京物联传感技术有限公司　　苏ICP备09088266号 </p>
				</div>
				<div class="main_right">
					<h2>联系我们</h2>
					<form>
						<ul>
							<li>
								<label for="member_name">姓名：</label>
								<input id="member_name" type="text" />
							</li>
							<li>
								<label for="telephone">电话：</label>
								<input id="telephone" type="text" />
							</li>
						</ul>
						<p>
							<label for="leave word">留言：</label>
							<br />
							<textarea id="leave word" type="textarea"></textarea>
						</p>
						<div class="btn">
							<input type="reset" value="重置" />
							<input type="submit" value="提交" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
