<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>首页</title>
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/index.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.0.min.js" language="JavaScript"></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/banner.js" language="JavaScript"></script>
		<script type="text/javascript" src="__PUBLIC__/js/carousel.js" ></script>
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<a href="{:url('index/index/index')}"><img src="__PUBLIC__/img/logo.jpg" alt="图片加载"/></a>
			</div>
			<div class="nav">
				<ul>
					<li><a class="current" href="{:url('index/index/index')}">企业首页</a></li>
					<li><a href="{:url('index/about/index')}">关于我们</a></li>
					<li><a href="{:url('index/news/index')}">新闻中心</a></li>
					<li><a href="{:url('index/product/index')}">产品中心</a></li>
					<li><a href="{:url('index/contact/index')}">联系我们</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="banner">
				<ul>
					<li id="show">
						<a href="pro_details.html">
							<img src="__PUBLIC__/img/banner_01.jpg" alt="图片加载" />
						</a>
                    </li>
                    <li>
						<a href="pro_details.html">
							<img src="__PUBLIC__/img/banner_02.jpg" alt="图片加载" />
						</a>
                    </li>
                    <li>
						<a href="pro_details.html">
							<img src="__PUBLIC__/img/banner_03.jpg" alt="图片加载" />
						</a>
                    </li>
				</ul>
				<ol>
					<li id="on"></li>
					<li></li>
					<li></li>
				</ol>
			</div>
			<div class="about">
				<div class="about_main">
					<div class="sb_title">
						<h2>关于我们</h2>
						<h3>ABOUT US</h3>
					</div>
					<ul>
						<li>
							<a class="pic" href="about.html">
								<img src="__PUBLIC__/img/about_thumb_01.png" alt="图片加载" />
							</a>
							<h3><a href="about.html">公司简介</a></h3>
							<h4>COMPANY PROFILE</h4>
							<p>物联传感技术有限公司是领先物联网高新科技企业。为亿万家庭量身打造智能家居解决方案，全面提升现代家庭生活品质。</p>
						</li>
						<li>
							<a class="pic" href="about.html">
								<img src="__PUBLIC__/img/about_thumb_02.png" alt="图片加载" />
							</a>
							<h3><a href="about.html">公司理念</a></h3>
							<h4>COMPANY IDEA</h4>
							<p>物联传感技术有限公司长期致力于研发无线居系统智能家，以专业的“顾客至上，锐意进取”为最高理念。   </p>
						</li>
						<li>
							<a class="pic" href="about.html">
								<img src="__PUBLIC__/img/about_thumb_03.png" alt="图片加载" />
							</a>
							<h3><a href="about.html">发展历程</a></h3>
							<h4>DEVELOPMENT HISTORY</h4>
							<p>2015年3月10日公司以“推动者”身份加入物联网权威国际组织之一ZigBee联盟。</p>
						</li>
						<li>
							<a class="pic" href="about.html">
								<img src="__PUBLIC__/img/about_thumb_04.png" alt="图片加载" />
							</a>
							<h3><a href="about.html">荣誉资质</a></h3>
							<h4>HONOR </h4>
							<p>物联传感技术有限公司在2016中国智能家居行业荣誉榜中荣获中国家居行业科技创新奖和用户体验奖。</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="news">
				<div class="news_main">
					<div class="title">
						<h2>新闻中心</h2>
						<h3>NEWS</h3>
					</div>
					<div class="news_main_bg"></div>
					<div class="news_list">
						<div class="news_left">
							<div class="news_left_title">
								<h2>新闻中心</h2>
								<a href="news.html">MORE +</a>
							</div>
							<ul>
								<li>
									<h3><a href="news_details.html">AWE2016：物联智能家居矩阵全方位演绎未来生活</a></h3>
									<span>2017.04.01</span>
								</li>
								<li>
									<h3><a href="news_details.html">引领智能家居发展潮流，物联获艾普兰两项大奖</a></h3>
									<span>2017.04.01</span>
								</li>
								<li>
									<h3><a href="news_details.html">物联 2016CES之旅完美收官</a></h3>
									<span>2017.04.01</span>
								</li>
								<li>
									<h3><a href="news_details.html">Wulian 2016CES之旅完美收官</a></h3>
									<span>2017.04.01</span>
								</li>
								<li>
									<h3><a href="news_details.html">Wulian 2016CES之旅完美收官</a></h3>
									<span>2017.04.01</span>
								</li>
								<li>
									<h3><a href="news_details.html">Wulian 2016CES之旅完美收官</a></h3>
									<span>2017.04.01</span>
								</li>
							</ul>
						</div>
						<div class="news_right">
							<img src="__PUBLIC__/img/news_thumb.jpg" alt="图片加载" />
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="pro_main">
					<div class="sb_title">
						<h2>产品中心</h2>
						<h3>PRODUCT</h3>
					</div>
					<div class="pro_list">
						<ul class="poster_list">
							<li>
								<a href="pro_details.html"><img src="__PUBLIC__/img/product_thumb_01.jpg" alt="图片加载"/></a>
								<div>
									<h4><a href="pro_details.html">物联密码卡锁</a></h4>
									<span><a href="pro_details.html">WL-ZLSDBMT-B110-01</a></span>
								</div>
							</li>
							<li>
								<a href="pro_details.html"><img src="__PUBLIC__/img/product_thumb_02.jpg" alt="图片加载"/></a>
								<div>
									<h4><a href="pro_details.html">物联密码卡锁</a></h4>
									<span><a href="pro_details.html">WL-ZLSDBMT-B110-01</a></span>
								</div>
							</li>
							<li>
								<a href="pro_details.html"><img src="__PUBLIC__/img/product_thumb_03.jpg" alt="图片加载"/></a>
								<div>
									<h4><a href="pro_details.html">物联密码卡锁</a></h4>
									<span><a href="pro_details.html">WL-ZLSDBMT-B110-01</a></span>
								</div>
							</li>
							<li>
								<a href="pro_details.html"><img src="__PUBLIC__/img/product_thumb_01.jpg" alt="图片加载"/></a>
								<div>
									<h4><a href="pro_details.html">物联密码卡锁</a></h4>
									<span><a href="pro_details.html">WL-ZLSDBMT-B110-01</a></span>
								</div>
							</li>
							<li>
								<a href="pro_details.html"><img src="__PUBLIC__/img/product_thumb_02.jpg" alt="图片加载"/></a>
								<div>
									<h4><a href="pro_details.html">物联密码卡锁</a></h4>
									<span><a href="pro_details.html">WL-ZLSDBMT-B110-01</a></span>
								</div>
							</li>
							<li>
								<a href="pro_details.html"><img src="__PUBLIC__/img/product_thumb_03.jpg" alt="图片加载"/></a>
								<div>
									<h4><a href="pro_details.html">物联密码卡锁</a></h4>
									<span><a href="pro_details.html">WL-ZLSDBMT-B110-01</a></span>
								</div>
							</li>
						</ul>
						<a class="prev" href="javascript:void(0)"></a>
						<a class="next" href="javascript:void(0)"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="main">
				<div class="main_left">
					<ul>
						<li><a href="index.html">企业首页</a></li>
						<li><a href="about.html">关于我们</a></li>
						<li><a href="news.html">新闻中心</a></li>
						<li><a href="product.html">产品中心</a></li>
						<li><a class="unborder" href="contact.html">联系我们</a></li>
					</ul>
					<p class="footer_tel">400 928 9228</p>
					<span>support@wuliangroup.com</span>
					<p class="copyright">©Copyright 2002-2015 南京物联传感技术有限公司　　苏ICP备09088266号 </p>
				</div>
				<div class="main_right">
					<h2>联系我们</h2>
					<form>
						<ul>
							<li>
								<label for="member_name">姓名：</label>
								<input id="member_name" type="text" />
							</li>
							<li>
								<label for="telephone">电话：</label>
								<input id="telephone" type="text" />
							</li>
						</ul>
						<p>
							<label for="leave word">留言：</label>
							<br />
							<textarea id="leave word" type="textarea"></textarea>
						</p>
						<div class="btn">
							<input type="reset" value="重置" />
							<input type="submit" value="提交" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
			jQuery(".pro_list").slide({ mainCell:"ul", effect:"leftLoop", vis:5, scroll:1,  autoPlay:true, intetTime:1000, switchLoad:"_src" });
	</script>
</html>
