<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/subpage.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/about.css" />
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<a href="{:url('index/index/index')}"><img src="__PUBLIC__/img/logo.jpg" alt="图片加载"/></a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="{:url('index/index/index')}">企业首页</a></li>
					<li><a class="current" href="{:url('index/about/index')}">关于我们</a></li>
					<li><a href="{:url('index/news/index')}">新闻中心</a></li>
					<li><a href="{:url('index/product/index')}">产品中心</a></li>
					<li><a href="{:url('index/contact/index')}">联系我们</a></li>
				</ul>
			</div>
		</div>
		<div class="sub_banner">
			<ul>
				<li>
					<a href="pro_details.html">
						<img src="__PUBLIC__/img/banner_01.jpg" alt="图片加载" />
					</a>
                </li>
			</ul>
		</div>
		<div class="content clear">
			<div class="content_main">
				<div class="location">
					<div class="title">
						<h2>关于我们</h2>
						<h3>ABOUT US</h3>
					</div>
					<ul>
						<li class="current">关于我们</li>
						<li><a href="index.html">首页</a>  ></li>
						<li>当前位置： </li>
					</ul>
				</div>
				<div class="main_bottom">
					<div class="sidebar">
						<div class="sid_title">
							<h2>公司介绍</h2>
							<h3>Company introduction</h3>
						</div>
						<ul>
							<li class="current"><a href="#">·<span>公司简介</span>></a></li>
							<li><a href="#">·<span>公司理念</span>></a></li>
							<li><a href="#">·<span>发展历程</span>></a></li>
							<li><a href="#">·<span>荣誉资质</span>></a></li>
						</ul>
					</div>
					<div class="ab_main">
						<ul>
							<li>
								<img src="__PUBLIC__/img/ab_thumb_01.png" alt="图片加载"/>
								<p>物联传感技术有限公司是领先物联网高新科技企业，联盟亚洲地区唯一董事会成员，致力于研发无线居系统智能家，为亿万家庭量身打造智能家居解决方案，全面提升现代家庭生活品质。目前公司已成为在物联网传感器、控制器、移动物联网、云计算等几大领域都极具竞争力和影响力的全球企业，旗“物联之家”、“智慧家居”、“云家”、“物联传感”六大品牌，相关的数千家智能家居体验中心遍布全球40多个国家和地区。</p>
							</li>
							<li>
								<img src="__PUBLIC__/img/ab_thumb_02.png" alt="图片加载"/>
								<p>目前，我们的智能家居产品和解决方案已经应用于全球多个重点项目，成为世界各地多个智慧城市建设的重要技术支撑力量。我们以让人们感知真实的世界为愿景，运用各类传感器，帮助不同地区不同行业的人们更加直接、自由、平等地获取信息，消除各种信息偏差。为应对日益严重的气候变化及各种地质灾害，我们通过低碳无线物联网解决方案，帮助客户用绿色环保的方式创造更好的社会、经济和环境效益，维护人类的长远发展和安全。</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="footer clear">
			<div class="main">
				<div class="main_left">
					<ul>
						<li><a href="{:url('index/index/index')}">企业首页</a></li>
						<li><a href="{:url('index/about/index')}">关于我们</a></li>
						<li><a href="{:url('index/news/index')}">新闻中心</a></li>
						<li><a href="{:url('index/product/index')}">产品中心</a></li>
						<li><a class="unborder" href="{:url('index/contact/index')}">联系我们</a></li>
					</ul>
					<p class="footer_tel">400 928 9228</p>
					<span>support@wuliangroup.com</span>
					<p class="copyright">©Copyright 2002-2015 南京物联传感技术有限公司　　苏ICP备09088266号 </p>
				</div>
				<div class="main_right">
					<h2>联系我们</h2>
					<form>
						<ul>
							<li>
								<label for="member_name">姓名：</label>
								<input id="member_name" type="text" />
							</li>
							<li>
								<label for="telephone">电话：</label>
								<input id="telephone" type="text" />
							</li>
						</ul>
						<p>
							<label for="leave word">留言：</label>
							<br />
							<textarea id="leave word" type="textarea"></textarea>
						</p>
						<div class="btn">
							<input type="reset" value="重置" />
							<input type="submit" value="提交" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
