<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻中心</title>
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/subpage.css" />
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/news.css" />
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<a href="{:url('index/index/index')}"><img src="__PUBLIC__/img/logo.jpg" alt="图片加载"/></a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="{:url('index/index/index')}">企业首页</a></li>
					<li><a href="{:url('index/about/index')}">关于我们</a></li>
					<li><a class="current" href="{:url('index/news/index')}">新闻中心</a></li>
					<li><a href="{:url('index/product/index')}">产品中心</a></li>
					<li><a href="{:url('index/contact/index')}">联系我们</a></li>
				</ul>
			</div>
		</div>
		<div class="sub_banner">
			<ul>
				<li>
					<a href="pro_details.html">
						<img src="__PUBLIC__/img/banner_01.jpg" alt="图片加载" />
					</a>
                </li>
			</ul>
		</div>
		<div class="content">
			<div class="content_main">
				<div class="location">
					<div class="title">
						<h2>新闻中心</h2>
						<h3>NEWS</h3>
					</div>
					<ul>
						<li class="current">新闻中心</li>
						<li><a href="index.html">首页</a>  ></li>
						<li>当前位置： </li>
					</ul>
				</div>
				<div class="main_bottom">
					<div class="sidebar">
						<div class="sid_title">
							<h2>新闻中心</h2>
							<h3>News</h3>
						</div>
						<ul>
							<li class="current"><a href="#">·<span>企业新闻</span>></a></li>
							<li><a href="#">·<span>媒体报道</span>></a></li>
							<li><a href="#">·<span>行业动态</span>></a></li>
						</ul>
					</div>
					<div class="news_main">
						<ul class="news_list">
							<li>
								<h2><a href="news_details.html">AWE2016：物联智能家居矩阵全方位演绎未来生活</a></h2>
								<div>
									<h1>Dec.</h1>
									<h2>Dec.</h2>
									<span>7</span>
								</div>
								<p>	第14届香港春季电子产品展及国际资讯科技博览将于4月13在香港会议展览中心举行。展会预计吸引3500家来自世界各地的企业，汇聚各类前沿智能、环保节能产品、信息科技方案，以及独特设计和概念。届时，将结合展会，面向全球展示领先的物联网智能家居创新产品、设计和解决方案。</p>
								<span><a href="news_details.html">MORE +</a></span>
								<a href="news_details.html"><img src="__PUBLIC__/img/ne_thumb_01.jpg" alt="图片加载" /></a>
							</li>
							<li>
								<h2><a href="news_details.html">这项发明专利或让智能家居彻底告别手机</a></h2>
								<div>
									<h1>Dec.</h1>
									<h2>Dec.</h2>
									<span>7</span>
								</div>
								<p>物联网未来的发展方向是万物相连。在生活中再平常的设备，都可以加入网络，通过控制器、传感器实现互联，感知生活周围变化，为人们生活提供服务和方便。目前，我们熟知的物联网智能家居产品很多，包括智能灯泡、智能开关、智能音箱、智能电饭煲等。那么，如果连家中的地板都是智能的，将会是怎样一种生活体验呢？</p>
								<span><a href="news_details.html">MORE +</a></span>
								<a href="news_details.html"><img src="__PUBLIC__/img/ne_thumb_01.jpg" alt="图片加载" /></a>
							</li>
							<li>
								<h2><a href="news_details.html">CES2016抢先看，哪些智能产品值得关注</a></h2>
								<div>
									<h1>Dec.</h1>
									<h2>Dec.</h2>
									<span>7</span>
								</div>
								<p>	 Deeper-Smart Fishfinder是世界上第一款无线手机探鱼器，为专业的钓手特别定制。Deeper拥有强大的声纳系统，能够准确探测水的深度、水温和河床底部轮廓，并根据这些信息准确找到鱼群的位置。</p>
								<span><a href="news_details.html">MORE +</a></span>
								<a href="news_details.html"><img src="__PUBLIC__/img/ne_thumb_01.jpg" alt="图片加载" /></a>
							</li>
						</ul>
						<ul class="page">
							<li><a href="#">首页</a></li>
							<li><a href="#">上一页</a></li>
							<li class="current"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">…</a></li>
							<li><a href="#">下一页</a></li>
							<li><a href="#">尾页</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="main">
				<div class="main_left">
					<ul>
						<li><a href="index.html">企业首页</a></li>
						<li><a href="about.html">关于我们</a></li>
						<li><a href="news.html">新闻中心</a></li>
						<li><a href="product.html">产品中心</a></li>
						<li><a class="unborder" href="contact.html">联系我们</a></li>
					</ul>
					<p class="footer_tel">400 928 9228</p>
					<span>support@wuliangroup.com</span>
					<p class="copyright">©Copyright 2002-2015 南京物联传感技术有限公司　　苏ICP备09088266号 </p>
				</div>
				<div class="main_right">
					<h2>联系我们</h2>
					<form>
						<ul>
							<li>
								<label for="member_name">姓名：</label>
								<input id="member_name" type="text" />
							</li>
							<li>
								<label for="telephone">电话：</label>
								<input id="telephone" type="text" />
							</li>
						</ul>
						<p>
							<label for="leave word">留言：</label>
							<br />
							<textarea id="leave word" type="textarea"></textarea>
						</p>
						<div class="btn">
							<input type="reset" value="重置" />
							<input type="submit" value="提交" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
